<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout/layout_main"><!-- layout文件路径-->
<head>
    <title>用户管理</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <!--<div class="block-header">-->
        <!--<h2>用户管理</h2>-->
        <!--</div>-->

        <!-- Widgets -->
        <div class="row clearfix" id="app">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            用户列表
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a v-on:click="search">刷新</a></li>
                                    <li><a href="javascript:void(0);">重置条件</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div>
                            <input type="text" v-model="tableConfig.moreParams.name">
                            <input type="button" v-on:click="search" th:value="搜索">
                            <input type="button" v-on:click="selected" th:value="已选">
                            <input type="button" v-on:click="add" th:value="新增">
                        </div>


                        <div class="table-responsive">
                            <ms-table ref="table" :config="tableConfig"></ms-table>
                        </div>
                    </div>
                </div>
                <!-- #END# Browser Usage -->
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" layout:fragment="script">
    Vue.use(Vuetable);

    var app = new Vue({
        el: '#app',
        data: {
            tableConfig: {
                fields: [
                    {
                        name: '__checkbox',
                        width: '20px'
                    },
                    {
                        name: '__sequence',
                        title: '#',
                        dataClass: 'center aligned',
                        width: '20px'
                    },
                    'name', 'nickname', 'email', 'gender'],
                apiUrl: '/mentos/admin/user/page',
                moreParams: {},
                trackBy: []
            },
        },
        created: function () {
            // this.init();
        },
        watch: {},
        filters: {},
        methods: {
            init: function () {
            },
            search: function () {
                this.$refs.table.refresh();
            },
            selected: function () {
                console.log(this.$refs.table.selected());
            },
            add: function () {
                window.location.href = '/mentos/admin/user/infoUser';
            },
            edit: function (id) {
                window.location.href = '/mentos/admin/user/infoUser?id=' + id;
            }
        }
    });

</script>
</body>
</html>